.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  overflow-x: hidden;
  box-sizing: border-box;
}
  
  .navbar a {
    color: white;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  body {
    margin-top: 70px;
    overflow-x: hidden;
  }

  .navbar-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .navbar .mobile-menu-button {
    display: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    margin-left: auto;
  }



  @media (max-width: 500px) {

    .navbar {
      justify-content: left;
    }
    .navbar .mobile-menu-button {
      display: block;
      padding: 0;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      background-color: rgba(0, 0, 0, 0.7);
    }
  
    .navbar-links.open {
      display: flex;
    }
  }