.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  body {
    margin-top: 70px;
  }

  @media (max-width: 450px) {
    .navbar {
      gap: 1.5rem;
      justify-content: left;
    }
  }

  @media (max-width: 400px) {
    .navbar {
      gap: 1rem;
    }
  }

  @media (max-width: 350px) {
    .navbar {
      gap: 0.5rem;
    }
  }
  